.hero{
    @include breakpoint-up(large){
        display: flex;
        align-items: center;
    }
    

    &__image{
        background-image: url("/images/data_analysis.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(large){
            flex: 2;
            min-height: 41rem;
            order: 2;
        }
    }

    &__text{
        text-align: center;
        // padding: 2.25rem 0px 2.25rem 3.75rem;
        padding: 2.25rem;
        @include breakpoint-up(large){
            text-align: left;
            flex: 1;
            order: 1;
        }

        
        
    }
    background-color: $light_gray;
}