$black: #000000;
$bluishGreen: #00BDAA;
$purple: #400082;
$pink: #FE346E;
$yellow: #f9c929;
$darkgrey: #5A5A5A;
$celery: #A5CF61;
$sushi: #6F9B3C;
$confetti: #E3E566;
$moss: #34513A;
$peach: #F9DBAC;

$web_green: #188067;
$com_web_green: #801831;

$deep_dive: #027a76;
$sea_foam: #BFDDCE;

// $dark_green: #01565b;
// $med_green: #5aba8a;
$white_grey: #edf0ef;
$dark_grey: #605F5E;

$chrome: #e3b448;
$light_green: #8ab171;
$light_green_cent: #a5c282;
$light_gray: #BDBDB9;
$dark_green: #00A762;
$med_green: #02B26C;
//Font sizes
$font-med: 1.125rem; // 18px
$font-small: 0.875rem; //14 px
$font-h1: 2rem; // 37 px4
$font-xlg: 3.125rem;